<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEbYX2kLXTjG35pEJrDj4zCsO2clhB9VM</string>
	<key>GCM_SENDER_ID</key>
	<string>298170381569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>one.orae.storyshare</string>
	<key>PROJECT_ID</key>
	<string>storyshare-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>storyshare-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298170381569:ios:47027bbc67e75738fed700</string>
</dict>
</plist>